<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h3>Employee Form</h3>
  <form action="" #form="ngForm" novalidate>
    <div class="form-group" [class.has-error]="firstName.dirty && firstName.invalid">
      <label class="control-label">First Name</label>
      <input #firstName="ngModel" pattern="...+" required type="text" class="form-control" placeholder="firstName" name="firstName"
        [(ngModel)]="model.firstName">
      <div *ngIf="firstName.dirty && firstName.invalid" class="alert alert-danger">
        First name is required, more than 3 characters
      </div>
    </div>
    <!--{{ firstName.className}}
        {{firstName.invalid}}
        {{firstName.dirty}}
      -->

    <div class="form-group">
      <label for="">lastName</label>
      <input type="text" placeholder="lastName" class="form-control" required name="lastName" [ngModel]="model.lastName" (ngModelChange)="lastNameToUperCase($event)">
    </div>
    <div class="form-group">
      <label for="">
            <input type="checkbox" name="is-full-time" required [(ngModel)]="model.isFullTime"> Full Time Employee
        </label>
    </div>
    <label for="">payment Type</label>
    <div class="radio">
      <label for="">
          <input type="radio" name="paymentType" value="w2" checked [(ngModel)]="model.paymentType"> w2
        </label>
    </div>
    <div class="radio">
      <label for="">
          <input type="radio" name="paymentType" value="1099" [(ngModel)]="model.paymentType"> 1099
        </label>
    </div>
    <!-- <div class="form-group">
        <label for="">primary Language</label>
        <select  class="form-control" name="primaryLanguage" [(ngModel)]="model.primaryLanguage" >
          <option  *ngFor="let lang of languages"> {{lang}}</option>
        </select>
      </div>
    -->
    <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
      <label class="control-label">primary Language</label>
      <select class="form-control" name="primaryLanguage" [(ngModel)]="model.primaryLanguage"
       #primaryLanguage (blur)="validatePrimaryLanguage(primaryLanguage.value)" (change)="validatePrimaryLanguage(primaryLanguage.value)">
          <option value="default">select a language</option>
          <option  *ngFor="let lang of languages"> {{lang}}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="">Date Hired</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Font Color</label>
      <input type="color" class="form-control">
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Ok</button>
  </form>

  <!-- model: {{model | json}}  model: { "firstName": "maha", "lastName": "elbasuony" } 
    angular : {{form.value | json}} angular : { "firstName": "", "lastName": "" }-->
</div>
<!--
    if the form touched or not by user
    {{form.pristine}}-->